streamlit=1.39.0
pandas
streamlit-option-menu
jupyter
glob2
beautifulsoup4
lxml
cssselect
pytz
pyarrow
mypy
pymongo==4.9.2
python-dotenv
streamlit-aggrid
wordcloud
matplotlib
pygwalker
fastapi
uvicorn
motor
plotly
babel
kaleido
openai
langchain-openai
langchain
langchain_community
pyowm